body {
    height: 1500px;
}
.contacts {
    margin-left: 25%;
    margin-top: 200px;
    width: 60%;
    height: 238px;
}
.contacts-block {
    width: 275px;
    height: 208px;
    margin-top: 40px;
    display: inline-block;
    border-bottom: 1px solid #D6D6D6;
}
span {
    left: 45%;
    font-size: 24px;
    font-family: 'Manrope',sans-serif;
    position: absolute;
    text-align: center;
}
p {
    font-family: 'Rubik',sans-serif;
    padding-top: 20px;
}
.contact-main {
    font-size: 18px;
    font-family: 'Manrope',sans-serif;
}
.contact-info {
    float: left;
}
.map {
    margin-top: 60px;
    margin-left: 25%;
    width: 1110px;
    height: 750px;
}
.contacts img {
    height: 40px;
}