.subscribe {
    width: 1902px;
    height: 475px;
    position: relative;
    top: 2150px;
}
.subscribe img {
    width: 1902px;
    height: 478px;
}
.email-form {
    left: 880px;
    position: absolute;
    width: 450px;
    height: 90px;
    bottom: 150px;
}
.email-form input {
    display: inline-block;
    margin-top: 5%;
    float: left;
    padding: 15px;
    width: 200px;
    height: 45px;
    border: 1px solid #D6D6D6;
    margin-left: 20px;
}
.email-form font  {
    font-family: 'Rubik';
}
.email-form form {
    background-color: white;
    left: 880px;
    bottom: 0;
    margin: auto;
    width: 450px;
    height: 90px;
}
.emailBtn {
    position: absolute;
    bottom: 22px;
    left: 60%;
    padding: 14px 35px;
    background: #333333;
    font-family: 'Rubik';
    color: white;
    transition: all 300ms ease;
}
.emailBtn:hover {
    background: white;
    color: black;
    border:1px solid gray;
}
.sub-list {
    position: absolute;
    bottom: 180px;
    left: 550px;
}

.sub-list ul {
    width: 245px;
    height: 105px;
    color: white;
}
.sub-list li {
    padding-bottom: 0px;
    font-family: 'Rubik',sans-serif;
    list-style-image: url(../img/subscribe-icon.png);
}
.sub-list li::marker {
}